body{
    background-color: white; 
    background: url(../Github_Page_Updates/images/analysis-bg.jpg) no-repeat center fixed;
}

.footer{
        font-style: initial;
        font-family: 'Lucida Sans';
        color: white;
        background-color: teal;
        text-align: center;
        align-items: center;
        
  }
.footer a:hover{
    opacity: 0.5;
}
.fa-facebook-official ,.fa-twitter ,.fa-linkedin{
    color: white !important;
    padding: 14px !important;
    border: 1px solid rgb(40, 141, 131);
    border-radius: 30px;
    background-color: rgb(55, 187, 174) ;
}
.col-md-8{
    float: left;
}
.row{
    background-color:rgba(216, 216, 216, 0.95);
    border-radius: 20px;
}




/* Navigation Bar Properties */
.navbar {
    display: flex;
    flex: 1;
    margin-top: 2vh;
    align-items: center;
    text-align: center;
    font-weight: bold; 
    background: rgba(0,128,128,0.95);
    border-radius: 40px;
    padding: 0;
}
.navbar .nav-link{    
    font-size: x-14px;  
    
}
.navbar .navbar-brand{
    display: flex;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium';
    color: white;
    margin: 0;
    
}

.dropdown-item{
    font-size: medium;
    font-family: 'Franklin Gothic Medium';
    padding:0px;
    background-color: linen;
    

}
.navbar a {
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    
}

.navbar .nav-item:hover {
    border-top: 3px solid lightblue;
    background-color:turquoise;
    border-radius: 20px;
    
  }
  
.navbar .nav-item.active {
    border-top: 3px solid lightgreen;
  }


#myCanvas{
    position: fixed;
    z-index: -1;   
  }
 
.jumbotron {
      opacity: 0.95;
    
}
#codeblock{
    background-color: lightblue;
    font-size: 20px;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid burlywood;
}